<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BeauteSoft HR.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>15</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C386AD33D3EF4A73FD0DA8A5BB5D8EB36D5F9BF</string>
				<key>dateExpires</key>
				<string>9/27/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>15</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C386AD33D3EF4A73FD0DA8A5BB5D8EB36D5F9BF</string>
						<key>dateExpires</key>
						<string>9/27/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WKVWWJ792U</string>
						<key>name</key>
						<string>SEQUOIA PTE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>15</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C386AD33D3EF4A73FD0DA8A5BB5D8EB36D5F9BF</string>
						<key>dateExpires</key>
						<string>9/27/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WKVWWJ792U</string>
						<key>name</key>
						<string>SEQUOIA PTE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>15</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C386AD33D3EF4A73FD0DA8A5BB5D8EB36D5F9BF</string>
						<key>dateExpires</key>
						<string>9/27/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WKVWWJ792U</string>
						<key>name</key>
						<string>SEQUOIA PTE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>15</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C386AD33D3EF4A73FD0DA8A5BB5D8EB36D5F9BF</string>
						<key>dateExpires</key>
						<string>9/27/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WKVWWJ792U</string>
						<key>name</key>
						<string>SEQUOIA PTE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>15</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C386AD33D3EF4A73FD0DA8A5BB5D8EB36D5F9BF</string>
						<key>dateExpires</key>
						<string>9/27/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SWRevealViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WKVWWJ792U</string>
						<key>name</key>
						<string>SEQUOIA PTE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WKVWWJ792U.com.imark.BeauteSoft</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WKVWWJ792U</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>WKVWWJ792U.com.imark.BeauteSoft</string>
				</array>
			</dict>
			<key>name</key>
			<string>Beautesoft HR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fd18bf99-4f30-4efe-afdb-7b503be0a71e</string>
				<key>dateExpires</key>
				<string>9/27/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.imark.BeauteSoft</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WKVWWJ792U</string>
				<key>name</key>
				<string>SEQUOIA PTE LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3</string>
		</dict>
	</array>
</dict>
</plist>
